/**
 * Intro table
 */
.intro-vertical {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.intro-head {
    font-size: 32px;
    
    @include media-query($on-laptop) {
      font-size: 28px;
    }
}

.intro-table-icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

.intro-table-text {
    font-size: 26px;
    vertical-align: middle;
}
